{% extends "layout.html" %}{% block content %}
	<section class="hero is-halfheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-4 is-variable ">
					<div class="column has-text-left">
						<h1 class="title is-1">Contact Me</h1>
						<div class="social-media">
							<a href="https://twitter.com/3300u" target="_blank" class="button is-light is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="mailto:adam.venroy@gmail.com" target="_blank" class="button is-light is-large"><i class="fa fa-envelope" aria-hidden="true"></i></a>
							<a href="https://www.linkedin.com/in/adam-venroy/" target="_blank" class="button is-light is-large"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
