{% extends "layout.html" %} {% block content %}
<div class="columns">
    <!-- Start of Column-->
      <div class="column is-one-quarter">
          <article class="message">
              <div class="message-header">
                <p>B.P. Customer Service Representative</p>
                <p style="text-align: right;">2021-Current (Part-time)</p>
              </div>
              <div class="message-body">
                  Using Teamwork and Communication to interact with customers. 
              </div>
            </article>
      </div>
      <!-- End of Column-->
  </div>
{% endblock %}