{% extends "layout.html" %} {% block content %}
<div class="columns">
    <!-- Start of Column-->
      <div class="column is-one-quarter is-offset-1">
          <article class="message">
              <div class="message-header">
                <p>B.P. Customer Service Representative</p>
                <p style="text-align: right;">2021-Now</p>
              </div>
              <div class="message-body">
                  Worked Part-time during my University studies. Using Teamwork and Communication to deliver excellent customer service.
              </div>
            </article>
      </div>
      <!-- End of Column-->
  </div>
{% endblock %}